*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bit-online{
  position: relative;
  width: 75%;
  margin: auto;
}

body h1{
  text-transform: capitalize;
}

/* contenitore info */
.box-bit{
  position: absolute;
  margin-left: 26%;
  border: 2px solid red;
  background-color: white;
  text-align: center;
  color: inherit;
  border-radius: 5px;
  padding: 30px;
  width: 50%;

}
/* //contenitore info */
