*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bit-online{
  position: relative;


}

body h1{
  text-transform: capitalize;
}
img{
  margin-left: auto;
  background-repeat: no-repeat;

}
.box-bit{
  position: absolute;
  margin: auto;
  border: 2px solid red;
  background-color: white;
  color: inherit;
  border-radius: 5px;
  padding: 30px;
  width: 50%;

}
